<form id="craftingMenu" class="crafer-crafting-menu">

  
  
  
  <div class="crafter-crafting-item-name">
    {{currentItemRaw}}


  </div>
  <div class="crafter-item-list-frame">
    <table>
      <thead></thead>
      <tbody>
        <tr>
        
        
          <td>
            <select class="crafter-item-list" id="selectedItem" name="selectedItem" size="10" multiple="">
             {{! <option class="crafter-select-option-selected" value="" selected="selected" index={{recipeIndex}}>
               {{! ---{{item.name}---</option> --}}
              {{#each recipies}}

              {{#if (isselected @index)}}
              <option class="crafter-select-option-selected" value="{{this}}" selected="selected" index={{@index}} name="{{this}}"> {{this}}</option>
              {{else}}
              <option class="crafter-select-option" value="{{this}}" index={{@index}} name="{{this}}"> {{this}}</option>
              {{/if}}

              {{/each}}
        
            </select>
          </td>
        
        </tr>
    
      </tbody>
    </table>
    </div>
    <div class="crafter-item-description-frame" style="border-color: {{#color currentItemRaw}}{{/color}}">
    <table>
      <tr>
        <td class="crafter-item-image-frame">
            <img src="{{item.img}}" class="crafter-item-image" style="border: 4px solid {{#color currentItemRaw}}{{/color}}" >
          </td>
          
        <td class="crafter-item-description-frame-frame"><div class="crafter-item-description">

        <b>{{currentItemRaw}}</b>
        {{{baseDesc}}}</div></td>
      </tr>
    </table>
</div>
<div>
  <h2>Components</h2>
</div>  
<table style="max-width: 500px;" style="align-self: center;"  >
<tr>
    {{#each component}}<form id="craftingmenu" class="crafter-crafting-menu">
     <td>
      <table class="crafter-item-smallcard-frame" style="border: 4px groove {{#color (complookupname this) }}{{/color}}">
      <tr>
        <td style ="width:55px">
          <div class="crafter-item-container-fontframe">
        <img src="{{#complookupimg @this}}{{this}}{{/complookupimg}}" class="crafter-item-smallcard-item"  style="border: 4px solid {{#color (complookupname this)}}{{/color}}" >
        <div class="crafter-item-container-font">{{#compcount @this}}{{/compcount}}/1</div>
        </div>
        </td>
        <td class="crafter-item-smallcard-name" >
          {{this}}
        </td>
      </tr>
    </table>
    </td>
    {{#if (eq @index 2)}}</tr><tr>{{/if}}
  {{/each}}
</tr>
</table>





  <table>
    <thead><h2>Options</h2></thead>
    <tbody>
      <tr>
        <td class="crafter-craftingmenu-parsed-heading-label">
          <Strong>Book Name</Strong>
        </td>
        <td class ="crafter-craftingmenu-parsed-heading"></td>
        <td>
          <select name="bookName" id="changeBook" value="changeBook" aria-placeholder="Bookname">
            <option value="" selected="selected" >{{selectedBook}}</option>
         {{#each books}}
            <option value= "{{this}}" id={{@index}} name = "{{this}}"> {{this}}</option>
           {{/each}}
          </select>
          {{!<input type="text" name = "bookName"  data-dtype="String" placeholder = "Book Name">--}}
        </td>
      </tr>
      
    </tbody>
  </table>
  <div class="crafter-bottom-bar"></div>
  <table>
    <thead><h2>Craft Item </h2></thead>
    <tbody>
      <tr>
        <td><button type="submit" value="craft" name = "Sub" width ="100%">Submit</button></td>
      </tr>
    </tbody>
  </table>
 
</form>



{{!-- 
<td><input type="text" name="submitText" id="inputText"  data-dtype="String" placeholder={{#if item.name}{{{item.name}{else}"Search for an Item"{/if}></td>
<form>
  <ul class="todo-list flexcol">
    #each todos
    <li class="flexrow" data-todo-id="{{id">
      <input type="checkbox" name="{{id.isDone" title="{{localize " TODO-LIST.mark-done"" data-dtype="Boolean"
        {{checked isDone />

      <input type="text" value="{{label" name="{{id.label" data-dtype="String" />

      <button type="button" title="{{localize " TODO-LIST.delete-todo"" data-action="delete"
        class="flex0 todo-list-icon-button">
        <i class="fas fa-trash"></i>
      </button>
    </li>
    {{/each
  </ul>

  <button type="button" data-action="create"><i class="fas fa-plus"></i> {{localize "TODO-LIST.add-todo"</button>
</form>
--}}