<form id="craftingmenu" class="crafter-crafting-menu">
 

  <div class="crafter-crafting-item-name">
    {{item.name}}

  </div>
  <div>
    <table class="crafter-item-image-list-frame">
      <thead></thead>
      <tbody>
        <tr >
          <td>
            <img src="{{item.img}}" class="crafter-item-image">
          </td>
    
          <td>
            <select class="crafter-item-list" id="selectedItem" name="selectedItem" size="10" multiple="">
              <option value="" selected="selected" index={{recipeIndex}}>{{item.name}}</option>
              {{#each recipies}}
              <option value="{{this}}" index={{@index}} name="{{this}}"> {{this}}</option>
    
              {{/each}}
            </select>
          </td>
    
        </tr>
    
      </tbody>
    </table>
    <div class="crafter-item-description">
    <table>
      <tr>
        <td>{{{baseDesc}}}</td>
      </tr>
    </table>
</div>
  </div>
  <table>
    <thead><h2>Options</h2></thead>
    <tbody>
      <tr>
        <td class="crafter-craftingmenu-parsed-heading-label">
          <Strong>Book Name</Strong>
        </td>
        <td class ="crafter-craftingmenu-parsed-heading"></td>
        <td>
          <select name="bookName" id="changeBook" value="changeBook" aria-placeholder="Bookname">
            <option value="" selected="selected" >{{selectedBook}}</option>
         {{#each books}}
            <option value= "{{this}}" id={{@index}} name = "{{this}}"> {{this}}</option>
           {{/each}}
          </select>
          {{!<input type="text" name = "bookName"  data-dtype="String" placeholder = "Book Name">--}}
        </td>
      </tr>
      <tr>
        <td class="crafter-craftingmenu-parsed-heading-label">
          Profession
        </td>
        <td class ="crafter-craftingmenu-parsed-heading">{{profession}}</td>
        <td>
          <input type="text" name = "material"  data-dtype="String" placeholder="Material Type">
        </td>
      </tr>
      <tr>
        <td class="crafter-craftingmenu-parsed-heading-label">
          Component Type
        </td>
        <td class ="crafter-craftingmenu-parsed-heading">{{component}}</td>
        <td>
          <input type="text" name = "profession"  data-dtype="String" placeholder="Profession Type">
        </td>
      </tr>
      <tr>
        <td class="crafter-craftingmenu-parsed-heading-label">
          Time
        </td>
        <td class ="crafter-craftingmenu-parsed-heading">{{time}}</td>
        <td>
          <input type="text" name = "time"  data-dtype="String" placeholder="Crafting Time">
        </td>
      </tr>
      <tr>
        <td class="crafter-craftingmenu-parsed-heading-label">
          Difficulty
        </td>
        <td class ="crafter-craftingmenu-parsed-heading">{{difficulty}}</td>
        <td>
          <input type="text" name = "difficulty"  data-dtype="String" placeholder="Crafting Difficulty">
        </td>
      </tr>
    </tbody>
  </table>
  <table>
    <thead>Search for Item</thead>
    <tbody>
      <tr>
        <td><input type="text" name="submitText" id="inputText"  data-dtype="String" placeholder={{#if item.name}}{{{item.name}}}{{else}}"Search for an Item"{{/if}}></td>
       
        <td><button type="submit" value="changeItem" name = "Sub">Submit</button></td>
        <td><button type="submit" value="createRecipe" name = "Sub">Create Recipe</button></td> 
      </tr>
    </tbody>
  </table>
 
</form>






{{!-- 
<form>
  <ul class="todo-list flexcol">
    #each todos
    <li class="flexrow" data-todo-id="{{id">
      <input type="checkbox" name="{{id.isDone" title="{{localize " TODO-LIST.mark-done"" data-dtype="Boolean"
        {{checked isDone />

      <input type="text" value="{{label" name="{{id.label" data-dtype="String" />

      <button type="button" title="{{localize " TODO-LIST.delete-todo"" data-action="delete"
        class="flex0 todo-list-icon-button">
        <i class="fas fa-trash"></i>
      </button>
    </li>
    {{/each
  </ul>

  <button type="button" data-action="create"><i class="fas fa-plus"></i> {{localize "TODO-LIST.add-todo"</button>
</form>
--}}