<form>
<Body>

<ol class="crafter-item-list" id="selectedItem" name="selectedItem" size="10" multiple="5">


{{#each components}}

<a class ="item-create" name= "{{this.name}}" type="selectedItem" id={{@index.name}}><li class="crafter-select-option" value="{{this.name}}" index={{@index}} name="{{this.name}}">{{this.name}}</li></a>

{{/each}}

</ol>








<h1> TETSTSTSETSETSETDSET</h1>
</Body>



</form>